.navbar{
    display: flex;
    background-color:rgb(158, 62, 62); ;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.widget{
    height: 50px;
    width: 50px;
    color: wheat;;
}
.navbar_title{
    color: wheat;
}
a{
    font-weight: 600;
    padding-right:10px;
    text-decoration: none;
    color: wheat;
}
a:hover{
    color: black;
}
main{
    min-height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background-color: rgb(255, 237, 204);
}
footer{
    background-color: rgb(158, 62, 62);
    display: flex;
    height: 50px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}
button{
    width: 100px;
    font-weight: 500;
    font-size: larger;
    padding: 5px;
}
.card{
    width: 18rem;
}
.itemList{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.item{
    background-color:rgb(225, 225, 225) ;
    list-style: none;
    margin: 0 7rem 2rem 7rem;
    padding: 15px;
    border-radius: 10px;
}
.item_img{
    border-radius: 5%;
    width: 200px;
    height: 260px;
}
.itemDetailContainer{
    background-color: rgb(250, 166, 135);
}
.itemDetailContainerInfo{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(250, 166, 135);
    align-items: center;
    justify-content: space-between;
}
.imgDetail{
    width: 200px;
    height: 250px;
    margin: 15px;
}
.detailsInfo{
    margin: 20px;
}
.titleDetails{
    text-align: center;
}
.navLinks{
    color: black
}
.navLinks:hover{
    color: white
}
.btn{
    width: 150px;
    align-items: center;
}
.carrito{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.carrito_title{
    margin: 1em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow Bold', sans-serif;
    font-size:3em;
    letter-spacing:2px;
}
.noItemInCart{
    text-align: center;
    font-size: 3em;
    margin: 1em;
}
.backHome{
    text-align: center;
    font-size: 2em;
    color: brown;
    margin: 1em;
}
.cart_img{
    height: 200px;
    width: 150px;
}
.cart_li{
    padding: 25px;
    background-color: rgb(255, 216, 216);
    list-style: none;
    width: 100vh;
    border: 1em rgb(127, 127, 127) solid;
}
.cart_li_top{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.cart_li_bottom{
    display: flex;
    justify-content: space-between;
}
h2{
    color: black;
}
h3{
    color: black;
}
.itemDetailContainer{
    display: flex;
    padding: 1em;
}
.p_img{
    width: 550px;
    height: 700px;
}
.p_nombre{
    text-align: center;
}
.p_precio{
    padding-top: 3em;
    padding-bottom: 10em;
    text-align: center;
}
.itemDC_left{

}
.itemDC_right{
    padding-left: 5em;
}
.totalCart{
    display: flex;
    justify-content: space-between;
}